.bill-details{
        border: 5px solid #607D8B;
    /* margin: auto; */
    margin-bottom: 5px;
    background-color: #00BCD4;
}

.btn-panel{
        border: 5px solid #607D8B;
    background-color: #795548;
        height: 67px;
}